@media only screen and (max-width: 1024px) {
    header .navbar-container {
      /* flex-direction: column; */
      /* text-align: center; */
    }
    aside{
      position: fixed;
      top: 50%;
      left:1vw;
  }
  
    header .navbar-container .logo {
      margin: 1rem 0;
    }
    header .navbar-container .nav-list ul {
      /* flex-direction: column; */
      gap: 2rem;
      font-size: 12px;
    }
    header .navbar-container .nav-list li a {
      font-size: 20px;
    }
    .artikel1-content{
      width: 50%;
    }
    .foto-content{
      margin: auto;
    }
    main .tentang-container {
      padding: 5% 10%;
    }
    header .home-container {
      padding: 10% 5% 0 5%;
    }
    main .content1-tentang-container {
      /* flex-direction: column; */
      gap: 2rem;
    }
    main .foto-content img {
      width: 100%;
    }
    main .booking-container .lapangan-container {
      flex-direction: column;
      gap: 2rem;
    }
    main .lapangan-container {
      flex-direction: column;
  }

  .lapangan{
      text-align: center;
      align-items: center;
  }

  .lapangan i{
      margin-left: 10px;
  }

    main .slider-container .katalog-container {
      scroll-snap-align: start;
    }

    .slider-container {
      padding: 50px;
      overflow: scroll;
      overflow-y: visible;
  }

  .produk-container button{
    visibility: hidden;
}
  }